.btnPrev {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20vw, -50%);
    display: flex;
    cursor: pointer;
    font-size: 0;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;

    span {
        font: 11px/1 'arial';
        color: #fff;
        opacity: 1;
        transition: 0.5s;
    }

    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 0px;
        transform-origin: left center;
        transform: rotate(-180deg);
        transition:0.5s;
    }

    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 0px;
        transform-origin: left center;
        transform: rotate(180deg);
        transition: 0.5s;
    }

    &:hover {
        span {
            transform: translateX(100%); opacity: 0;
        }

        &::before {
            transform: rotate(-30deg);
        }
        &::after {
            transform: rotate(30deg);
        }
    }
}

.btnNext {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(20vw, -50%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    font-size: 0;
    padding-right: 20px;

    span {
        font: 11px/1 'arial'; 
        color: #fff;
        transition:0.5s;
    }

    &::before {
        content: '';
        display: block;
        width: 100%; 
        height: 1px; 
        background: #fff;
        position: absolute;
        top: 50%;
        left: 0px; 
        transform-origin: right center;
        transform: rotate(180deg);
        transition: 0.5s;
    }
    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: #fff;
        position: absolute;
        top: 50%; 
        left: 0px; 
        transform-origin: right center;
        transform: rotate(-180deg);
        transition: 0.5s;
    }

    &:hover {
        span {
            opacity: 0;
            transform: translateX(-100%);
        }
        &::before {
            transform: rotate(30deg);
        }
        &::after {
            transform: rotate(-30deg);
        }
    }
}