@charset "UTF-8";
@import "reset";

figure {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: linear-gradient(25deg, violet, pink);

    h1 {
        position: absolute;
        top: 7vh;
        left: 4vw;
        font-size: 0;

        strong {
            font: bold 36px/1.4 'arial';
            color: #fff;
            letter-spacing: 1px;
        }
        span {
            font: 12px/1 'arial';
            color: #fff;
            opacity: 0.8;
            letter-spacing: 1px;
        }
    }

    .menu {
        position: absolute;
        top: 8vh;
        right: 4vw;
        font-size: 24px;
        color: #fff;
    }

    @import 'panel';
    @import 'btns';

    > p {
        position: absolute;
        bottom: 7vh;
        left: 50%; 
        transform: translateX(-50%);
        font: 12px/1 'arial';
        color: #fff;
        letter-spacing: 2px; 
        opacity: 0.8;
    }
}